<article>
For
<%= @a_pair.capitalize %>
<%= @b_pair.capitalize %> 
we recomend a nice
<%= @number %>
<form method="get" action = "/">
  <p><input type ="submit" value = "Home" ></p> 
</form>
</article>
