

<header><strong>About me</strong></header>
 <h1>I want to learn to code</h1>
   <p>I have always considered myself to be a little insane. Learning how to code is one of the insane things I haven't done. That's why I want to learn how to code. I wanted to educate myself, not only about things I do know (butterflies and other silly things), so that I can become even more insane And anyway code looks weird, and I like weird things.</p>
 <h2>iXperience</h2>
  <p>I have the most awesome roomates (This is a my roomates are cooler than yours sort of thing). I've had the most amazing food for the past couple of days.</p>
 <h3>Cool things about me</h3>
  <p>
   <li>I'm blind. Or atleast almost blind. Somebody gauged my eyes out when I was a kid, or atleast that's how it feels</li>
   <li>sometimes I pick my nose when no one is looking</li>
   <li>I would love to visit the States one day (Anybody willing to squeeze me into their suitcases?)</li></p>

 <p><a href="http://localhost:9393/home">back</a>   <a href="http://localhost:9393/contact">more</a></p>