<header>Contact information</header>

<p>Email: kmalotsha@gmail.com</p>

<p><a href="https://www.facebook.com/khangwelo.malotsha">Facebook: Khangwelo Malotsha</a></p>

<p><a href="https://instagram.com/ihavearidiculouslaugh">Instagram:</a></p>

<p>Address: 8B Mimosa Street
			Polokwane
			0699 </p>

<h6><a href="http://localhost:9393/about">..back</a></h6>




