<head>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
	<style>
    header{
    	font-size: 50px;
    	color: white;
    	text-align: center;
    	font-family: lobster, cursive

    }
	body {
	  background: url("http://26.media.tumblr.com/tumblr_m2ylixNXae1qgz7tgo1_500.jpg");
	  background-size: cover;
	  color: white;
	  text-align: left;

	}
	a{
		color: white;
		text-align: right;
		font-size: 50px
	}

	p {
		color: white;
		text-align: right;
		margin: 20px 0 10px 0;
		font-size: 20px ;
		font-family: helveticca
	}
	img {
		border-radius: 100px;
		margin: 50px 420px 50px 480px;
	}</style>
</head>


<header>Khangwelo Malotsha</header>
<body>
	<p>I am a 17 year old dream chaser who sometimes comes off as totally outrageous. Please click more or I'll have to gauge your eyes out. Oh and I love butterflies (Not that that has to do with anything)</p>

	<img src="http://i.imgur.com/NaXQFvj.jpg?1" width=200 height = "200" >

	<p><a href="/about">more...</a></p>

</body>


